<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.foo.simplewidget">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/location_on_white"
        android:label= "@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--<service android:name="classes.WidgetUpdateService" />-->
        <service android:name="classes.UpdateIntentService" />

        <receiver android:name="SimpleWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget_info" />
        </receiver>
        <activity
            android:name=".ShareActivity"
            android:theme="@style/DialogSlideAnim"></activity>

        <activity
            android:name=".PermissionActivity"
            android:theme="@style/DialogSlideAnim"></activity>

        <receiver android:name=".MyBroadcastReceiver"/>

        <!--<receiver android:name="classes.RepeatingAlarm"
            android:process=":remote">
            <intent-filter><action android:name="android.intent.action.SCREEN_ON"/> </intent-filter>
        </receiver>-->

        <service android:name="classes.UpdateClock">
        <!--<service android:name=".SimpleWidgetProvider$UpdateClock">-->
            <intent-filter>
                <action android:name="com.sample.foo.simplewidget.action.UPDATE" />
            </intent-filter>
        </service>

        <supports-screens android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:xlargeScreens="true"
            android:anyDensity="true" />

    </application>

</manifest>
